# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Logs
*.log

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/
